.cards__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 0;
    margin: auto;
}

@media screen and (max-width: 880px){
    .cards__container {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    }
}

@media screen and (max-width: 375px){
    .cards__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
