.card__edit-button {
    background-image: url('../../../images/editIcon2.svg');
    background-position: center;
    background-size: contain;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    border: none;
}