.card__button {
    background-position: center;
    background-size: contain;
    background-color: transparent;
    width: 28px;
    height: 28px;
    padding: 0;
    position: absolute;
    top: 15px;
    cursor: pointer;
    border: none;
}

@media screen and (max-width: 768px){
    .card__button {
        width: 20px;
        height: 20px;
        top: 10px;
    }
}