.card__image {
    object-position: center;
    object-fit: contain;
    border-radius: 15px;
    max-height: 200px;
    max-width: 100%;
}

@media screen and (max-width: 768px){
    .card__image {
        display: none;
    }
}