.buttonBlock {
    display: flex;
    align-items: center;
    border-bottom: 1px #282c34 solid;
    margin-bottom: 40px;
    justify-content: space-around;
}

@media screen and (max-width: 550px) {
    .buttonBlock {
        flex-direction: column;
        margin-bottom: 30px;
    }
}